on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Get Hash
        run: ./get_hash_test.sh

      - name: Build and Ship
        run: ./build_and_ship_test.sh
