name: Build
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'

      - name: Get Hash
        run: bash ./direc/get_hash_test.sh

      - name: Build and Ship
        run: bash ./direc/build_and_ship_test.sh

      - name: Upload the Binary
        uses: actions/upload-artifact@v4
        with:
          name: go-binary
          path: test
          retention-days: 1
